div {
  border: solid 2px #3B52FF;
/*  padding:10px;
  margin:10px;*/
  box-shadow: inset 1em 2px yellow;
}

.hidden {
  display: none;
}

.frame {
  display:inline-block;
}

.cute {
  background-color: pink;
}

.maj {
  background-color:yellow;
}

.selectedJudgement {
  border: solid 1px red;
}
