/* POSITIONING */

.frame {
  display:inline-block;
}

.title {
  text-align: center;
}

.hidden {
  display: none;
}

/* DISPLAY */

div {
/*  border: solid 1px #C9DAFF;
  padding:10px;
  margin:10px;
  box-shadow: inset 1em 2px yellow;*/
}

#catImgId {
}

img {
  width:100%;
  height:100%;
}

.cute {
  background-color: #FFBABA;
}

.maj {
  background-color:#FFDF75;
}

/*.selectedJudgement {
  border: solid 1px red;
}*/

.outer {
  margin: 10px;
}

.frame {
  background-color:#FFBB00;
  padding:10px;
}

.catLabel {
  background-color:#E6A800;
  color:#FFF5DB;
  margin: 5px auto 5px auto;
  padding:5px;
}

.framepic {
  padding:;
}



/*
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
*/
